{
  "Servers": {
    "1": {
      "Name": "{{ postgres_name }}",
      "Group": "Servers",
      "Port": 5432,
      "Username": "{{ postgres_user }}",
      "Host": "{{ postgres_host }}",
      "PassFile": "/pgpass", 
      "SSLMode": "prefer",
      "MaintenanceDB": "postgres"
    }
  }
}